.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .about-content {
    text-align: center;
  }
  
  .about-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .about-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .about-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .about-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .about-button:hover {
    background-color: #0056b3;
  }
  
  .about-footer {
    margin-top: 20px;
  }
  
  .about-footer a {
    text-decoration: none;
    color: #007bff;
  }
  
  .about-footer a:hover {
    text-decoration: underline;
  }
  

  .contact-container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact-image {
    flex: 1;
    margin-right: 50px;
  }

  
  .contact-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .contact-form {
    flex: 1;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form div {
    margin-bottom: 15px;
  }
  
  .contact-form label {
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  